{% extends "bootstrap/base.html" %}
{% block title %}Analytics{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BiotechBot</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="active">
                    <a href="{{ url_for('analytics') }}">Analytics <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="{{ url_for('recommendations') }}">Recommendations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Analytics</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>20-Day NCAR Trend</h3>
            <img src ="data:image/png;base64, {{ chart }}" alt = "NCAR Trend" class="img-responsive">
        </div>
            <div class="col-md-6">
            <h3>Indicators</h3>
            <div class="table-responsive">
            {% if tableAnalytics and tableAnalytics|length>0 %}
                <table class = "table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in tableAnalytics %}  
                            {% for key, value in row.items() %}
                                <tr>
                                    <th scope = "row">{{ key }}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No data available</p>
            {% endif %}
</div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}