{% extends "bootstrap/base.html" %}
{% block title %}Recommendations{% endblock %}

<!-- navigation bar -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BiotechBot</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('analytics') }}">Analytics</a>
                </li>
                <li class="active">
                    <a href="{{ url_for('recommendations') }}">Recommendations <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<!-- # recommendations block -->
{% block content %}
<div class="container mt-5">
    <h1>Recommendations</h1>
    <div id="recommendations">
        <p><em>Please wait, generating insights...</em></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    var markdownText = '{{ text|tojson|safe }}';
    target = document.getElementById("recommendations");
    if (markdownText) {
        target.innerHTML = marked.parse(markdownText);
    } else {
        target.innerHTML = "<p>No analysis available.</p>"
    }
</script>
{% endblock %}